body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.center{
  text-align: center;
}
.pointer{
  cursor:pointer;
}
.userinfo{
  font-size: 20px;
  font-weight: bold;
}
.fs{
  font-size: 27px;
}
tr:nth-of-type(odd) {
     background-color:#ccc;
   }
  tr th{
    background-color: gray;
  }
